body, h1, h2, h3, section, header, div, p {
  margin: 0;
  padding: 0;
}

body {

  color: #60283f;
  background-color: white;
}

section {
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 1200px;
}

header {
  font-size: 16px;
  text-align: center;
  margin: 2em auto;
}

header h1{
  font-size: 1.25em;
  color: #60283f;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Montserrat, arial;
  font-weight: 500;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid orange;
}

header h3{
  font-weight: 300;
  /* height: 1em; */
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  text-align: right;
}

.credit:hover {
  color: #FBC02D;
}

.cd-image-label{
  color: black;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.15em;
}



.credit{
  color: #546E7A;
  font-size: 0.75em;
  text-align: right;
  margin-top: 5px;
}





.logo{
  display: inline-block;
  line-height: 60px;
}

.hlc {
  /* position: relative; */
  float: left;
  width: 200px;
}

.lcs {
  /* position: relative; */
  float: right;
  width: 100px;
}

.title{
  display: inline-block;
  margin: 0 auto;
}

.cd-image-container{
  max-width: 1600px;
  overflow: hidden;
}

.cd-handle:before {
  content: " ";
  display: block;
  background: white;
  position: absolute;
  /* z-index: 1; */
  width: 2px;
  height: 999px;
  top:-300px;
  left: 50%;
  margin-left: -1.5px;
  -webkit-box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.25);
  -moz-box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.25);
  box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.25);
}


.cd-handle {
  z-index: 30;
  background: none;
  background-color: #FBC02D;

}
.cd-handle.draggable {
  /* change background color when element is active */
  background-color: #E0E0E0;
}

.left-arrow, .right-arrow{
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}

.left-arrow{
  border-right: 6px solid white;
  left: 45%;
  margin-left: -17px;
}

.right-arrow{
  border-left: 6px solid white;
  right: 45%;
  margin-right: -17px;
}

@media only screen and (min-width: 768px) {
  /* header {
    margin-top: 3em;
    height: 100px;
    line-height: 60px;
  } */

}
@media only screen and (max-width: 1200px) {
  .credit{
    margin-right: 1.75em;
  }
}

@media only screen and (max-width: 768px) {
  header{
    font-size: 12px;
  }
  header h1 {
    /* font-size: 32px; */
    font-size: 1.5em;
  }
  .cd-image-label{
    font-size: 0.6em;
  }
  .credit{
    margin-right: 1.75em;
  }
}

@media only screen and (max-width: 320px) {

  .cd-image-label{
    font-size: 0.5em;
  }
  .credit{
    margin-right: 1.75em;
  }
}
